@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;

}
.logo{
    text-decoration: none;
    color: red;
    font-weight: 700;
    font-size: 1.8em;
}

.logo1 a{
    color: white;
    background-color: red;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
    padding: 0.4em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
}

.logo1 a:hover{
    color: black;
    text-decoration: none;


}

section{
    padding: 100px 150px;
}

.mbmain{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url(images/fatlossbg3.png) no-repeat;
    background-size: contain;
    background-position: center top;
    background-color:hsl(0, 0%, 3%);

}

.mbmain h2{
    color: white;
    font-size: 1.8em;
    font-weight: 550;
}

.mbmain h3{
    color: white;
    font-size: 1.8em;
    font-weight: 550;
}

.mbmain span{
    display: inline-block;
    margin-bottom: 20px;
    color: red;
    font-size: 2em;
    font-weight: 700;
}

.mbmain p{
    color: #b4b4b4;
    font-size: 1.2em;
    font-weight: 500;  
    margin-bottom: 20px; 
}

.cors-btn{
    color: white;
    background-color: red;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    transition: 0.5s ease;
    margin-left: 480px;
    margin-top: 80px;
}

.cors-btn:hover{
    color: black;
    transform: scale(1.1);
}

a1.cors-start {
    color: white;
    background-color: red;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    transition: 0.5s ease;
    margin-top: 60px;
}

.cors-start:hover{
    color: black;
    transform: scale(1.1);
}

.title{
    position: relative;
    left: 330px;
    color: red !important;
    font-size: 2.5em !important;
    font-weight: 800 !important;
    margin-bottom: 30px;
    
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; 
}

.card {
  background-color: #151515;
  width: 15em;
  box-shadow: 0 5px 25px #373737;
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  color: white;
  text-align: center;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.05);
}

.icon {
    color: red;
    font-size: 4em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: red;
    font-size: 2em;
    font-weight: 700;
    margin: 10px;
}

.titl {
    display: flex;
    justify-content: center;
    color: red !important;
    font-size: 2.2em !important;
    font-weight: 800 !important;
    margin-bottom: 30px;
}


p.polos {
    color: rgb(194, 190, 190);
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

h3.Routine {
    display: flex;
    justify-content: center;
    color: rgb(194, 190, 190);
}